:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,2872);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: font-family: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario );
}